sudo: false
language: python
services:
  - memcached
python:
  - "3.4"
  - "2.7"
install:
  - echo "0.01" > restclients/VERSION
  - if [[ $DJANGO_VERSION == 1.6 ]]; then pip install -r travis-ci/python-2.6-require-django-1.6.txt; fi
  - pip install -e .
env:
- DJANGO_VERSION=1.6
- DJANGO_VERSION=1.7
- DJANGO_VERSION=1.8
- DJANGO_VERSION=1.9
- DJANGO_VERSION=1.10
before_script:
  - pip install coverage
  - pip install python-coveralls
  - pip install pep8
  - pip install -U "Django==$DJANGO_VERSION"
  - cp travis-ci/manage.py manage.py
  - if [[ $DJANGO_VERSION != 1.6 ]]; then python manage.py migrate --noinput; fi
  - if [[ $DJANGO_VERSION == 1.6 ]]; then python manage.py syncdb --noinput; fi
script:
  - pep8 --exclude=migrations,restclients/sws/,restclients/canvas/,restclients/uwnetid/,restclients/test/,restclients/signals/,restclients/hfs/,restclients/r25,restclients/o365/,restclients/nws.py,restclients/sms.py,restclients/library/ restclients/
  - python -m compileall restclients/
  - coverage run --source=restclients manage.py test restclients
after_script:
  - coveralls
notifications:
  webhooks:
      urls:
        - https://yarn.cac.washington.edu/rest/botalyst/v1/travis-ci
