# Make sure you also add things to ../setup.py
Django
lxml==2.3.5
urllib3>=1.6
twilio==3.4.1
boto
ordereddict>=1.1
simplejson>=2.1
python-dateutil>=2.1
djangorestframework>=2.0
jsonpickle>=0.4.0
unittest2>=0.5.1
pytz
-e git://github.com/vegitron/authz_group#egg=AuthZGroup
-e git://github.com/vegitron/django-userservice#egg=Django-UserService

