{% extends wrapper_template %}
{% block content %}
<div class="container">
    <div class="restclients-proxy">
        <div class="row restclients-header">
            <div class="col-md-2 restclients-header-title" style="">RESTCLIENTS</div>
            <div class="col-md-5 restclients-header-url" style=""><input type="input" class="form-control" id="inputEmail3" value="{{ url }}"></div>
            <div class="col-md-3">Time Taken: {{ time_taken }}</div>
            <div class="col-md-2">Status: {{ response_code }}</div>
        </div>
        
        <div class="restclients-response-content">{{ content|safe }}</div>
        
        <div class="restclients-footer">
        <b>Headers:</b><br/>
        {% for key, val in headers.items %}
            <b>{{ key }}</b>: {{ val }}<br/>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
