<h1>Registration Search (Proxy)</h1>
<form method="get" action="registration.json">
    <div>
        <label for="year">Year:</label><input class="year" id="year" name="year" value="{{search.year}}" type="text"><br>
        <label for="quarter">Quarter:</label><select class="quarter" id="quarter" name="quarter"><option value="">select...</option><option value="summer"{% if search.quarter == 'summer' %} selected="selected"{% endif %}>summer</option><option value="autumn"{% if search.quarter == 'autumn' %} selected="selected"{% endif %}>autumn</option><option value="winter"{% if search.quarter == 'winter' %} selected="selected"{% endif %}>winter</option><option value="spring"{% if search.quarter == 'spring' %} selected="selected"{% endif %}>spring</option></select><br>
        <label for="curriculum_abbreviation">Curriculum:</label><input class="curriculum_abbreviation" id="curriculum_abbreviation" name="curriculum_abbreviation" value="{{search.curriculum_abbreviation}}" type="text"><br>
        <label for="course_number">Course number:</label><input class="course_number" id="course_number" name="course_number" value="{{search.course_number}}" type="text"><br>
        <label for="section_id">Section ID:</label><input class="section_id" id="section_id" name="section_id" value="{{search.section_id}}" type="text"><br>
        <label for="reg_id">Student RegID:</label><input class="reg_id" id="reg_id" name="reg_id" value="{{search.reg_id}}" size="50" type="text"><br>
        <label for="is_active">Active registration:</label><input class="is_active" id="is_active" name="is_active" type="checkbox"><br>
        <label for="instructor_reg_id">Independent study instructor RegID:</label><input class="instructor_reg_id" id="instructor_reg_id" name="instructor_reg_id" value="{{search.instructor_reg_id}}" type="text"><br>
        <input value="Search" type="submit"></div>
</form>
